
# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
.bundle/
.expo-shared/

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
vendor/
Podfile.lock

# Android
android/.gradle/
android/app/build/

# Ruby / Bundler
Gemfile.lock

# IDE / Editor
.idea/
.vscode/
*.iml
